<appSettings>
  <add key="PhoneNumberSL" value="0767201010"/>
  <add key="PriceSLRed" value="10"/>
  <add key="PriceSLRegular" value="18"/>
  <add key="ApiKeySLRealtid" value="72c26d46c3efc6d5158d1dfc89b5f6fd"/>
  <add key="ApiKeySLReseplanerare" value="54d1713582880d4187bab3fe743ca271"/>
</appSettings>
